{:key-store {:table "key_store"
             :endpoint "https://dynamodb.us-east-1.amazonaws.com"}
 :http {:sub-port 10000
        :pub-port 8000
        :receive-timeout 60000}
 :graphite {:host "carbon.hostedgraphite.com"
            :api-key "7509c0ff-4db5-4cae-91ee-6e78ff13b336"
            :port 2003
            :env "prod"
            :period 30
            :enabled? true}
 :logging {:property-file-name "log4j.properties"
           :properties {:log-level "INFO"}}
 :redis {:spec {:host "messages-prod-ha-001.xoe7je.0001.use1.cache.amazonaws.com"
                :port 6379
                :db 0}
         :delete-after-seconds 60}
 :request-log {:stream "prod_messeji_requests"
               :log-level "warning"}
 :max-message-age-millis 10000}
